/* navigation.css.scss
*In line styled navigation bar
*
*/

nav#main_nav{
	ul {
	text_align: left;
	}

	li {
	display: inline-block;
	margin: 0 30px;
	padding :4px 6px;
	font-size:1em;

	a,
	a:link,
	a:visited {
	color:#FFF;
	text-decoration: none;
	}
	}
}